<div class="container">
  <div class="row">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form class="form-signin">
            <div class="form-label-group">

              <a href="/auth/facebook" <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                  class="fab fa-facebook-f mr-2 fa-2x"></i>Continue with Facebook</button>

                <a href="/auth/google" <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                    class="fab fa-google mr-2 fa-2x"></i> Continue with Google</button></a>

                <a href="/auth/twitter" <button class="btn btn-lg btn-twitter btn-block text-uppercase" type="submit"><i
                    class="fab fa-twitter mr-2 fa-2x"></i> Continue with Twitter</button></a>


                <a href="/auth/github" <button class="btn btn-lg btn-github btn-block text-uppercase" type="submit"><i
                    class="fab fa-github  mr-2 fa-2x"></i> Continue with Github</button></a>




                <form action="/signup" method="POST">

                  <!-- Material input email -->
                  <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i> <label for="materialFormCardEmailEx"
                      class="font-weight-light">Your email</label>
                    <input type="email" id="materialFormCardEmailEx" class="form-control" name="email">

                  </div>
                  <!-- Material input password -->
                  <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                    <input type="password" id="materialFormCardPasswordEx" class="form-control" name="password">

                  </div>

                  <hr>
                  <button class="btn btn-cyan btn-primary" type="submit" formmethod="post"
                    style="width: 100%;">Signup</button>

                </form>
                <!-- Material form register -->
            </div>

        </div>




        </form>


      </div>
    </div>
  </div>
</div>
</div>